/* CSS Requirements

-Create HTML and CSS files that create one red square div and one blue, DONE
	lined up on the left side of the screen
-Include a media query for a tablet to make your pages responsive 		**NOT YET**
	(use % instead of px to determine winnah) 							DONE
-Style your landing page and game page with class-based CSS 			**NOT YET**
-GRADED: Adhere to the Google style guide for writing your CSS  		**NOT YET**
-GRADED: Comment your code appropriately								**NOT YET**

STYLING:
-
-Use images to create a wintry background 
	
	mountain to ski down												DONE
-Use images to create snowboarders										DONE		
-Add animations -- when the boarder wins, it does a flip				??
-snowboarding theme														DONE

*/

/* these style all pages in the website */
* {
	font-size: 20px;
	font-family: 'Amatic SC', sans-serif;
	margin: 0;
}

/* these style the headers on the website */
header {
	width: 100%;
	display: inline-block;
	margin: 10px;
}

h1 {
	float: left;
	margin: 10px;
}

a {
	float: right;
	margin: 5px 15px;
}

#container {
	width: 100%;
	background-color: green;
	background-image: url("media/mountain.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

/*these style the divs and the 2 snowboarder players*/
div {
	height: 100px;
	width: 100px;
	position: relative;
	left: 0;
	top: 0;
}

#player1 {
	background-image: url('media/snowboarder1.png');
	background-size: cover;
}

#player2 {
	background-image: url('media/snowboarder2.png');
	background-size: cover;
}

/*#finish-line {
	background-color: red;
	height: 100vh;
	width: 2px;
	position: relative;
	float: right;
}*/